#resume {
    background-color: #ffffff;
    padding: 50px 250px;
}

.heading {
    font-size: 32px;
    text-align: center;
    text-decoration: underline gray;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;

}

a {
    color: #050d18;
}

.container {
    border: #000000 2px solid;
    display: flex;
    width: 90%;
    padding: 20px;
    background-color: #eeeeee;
    font-family: 'DM Sans', sans-serif;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social i {
    margin-right: 10px;

}

.name {
    font-weight: bold;
    font-size: 26px;
    text-decoration: underline;
    text-align: center;
}

h3 {
    color: #15396a;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: underline;
}

.head {
    text-align: center;
    color: black
}

.resume .part {

    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #000000;
    position: relative;
}

.resume .part h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}

.resume .part h5 {
    font-size: 16px;
    background: #e0dfdf;
    padding: 0px 10px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
}

.resume .part ul {
    padding-left: 20px;
}

.resume .part ul li {
    padding-bottom: 10px;
}

.resume .part::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: rgb(159, 159, 159);
    border: 2px solid #000000;
}
